/*****************
INDEX

1. Utils
2. Main
3. Board
4. Game Status & Controls
5. Game Events & Chat
6. Animations

*****************/

/*****************
 1. Utils 
******************/

.text-bold {
    font-weight: 600;
}

.text-theme {
    color: #03A9F4 !important;
}

.text-theme-2 {
    color: #009688 !important;
}

.hide { 
    display: none !important;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180{
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.bg-black {
    background-color: #000000 !important;
}

.bg-theme {
    background-color: #03A9F4 !important;
}

.bg-theme-2 {
    background-color: #009688 !important;
}

.bg-dark-tl {
    background-color: #343a40a0 !important;
}

.bg-success-tl {
    background-color: #28a745a0 !important;
}

.bg-wood {
    background-image: url('/images/background-wood.jpg');
    background-size: cover;
}

/*****************
 2. Main 
******************/

/*****************
 3. Board 
******************/

#board {
    overflow: auto;
}

#inner-center-board{
    z-index: 1;
    flex: 1 0 auto;
    border: 0.05rem solid #000000;
}

#inner-board{
    height: 54rem;
    width: 54rem;
    border: 0.05rem solid #000000;
}

#inner-board .box {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffa0;
    height: 4.4rem;
    width: 4.4rem;
    border: 0.05rem solid #000000;
    flex: 0 0 auto;
}

#inner-board #left-board .box,
#inner-board #right-board .box{
    width: 7.1rem !important;
}

#inner-board #top-board .box,
#inner-board #bottom-board .box {
    height: 7.1rem !important;
    flex-direction: column;
}

#inner-board .box-big {
    height: 7.1rem !important;
    width: 7.1rem !important;
    flex-wrap: wrap;
    flex-direction: row !important;
}

#inner-board .player-chip {
    flex: 0 0 20px;
    margin: 0.1rem;
    text-align: center;
    padding: 0.1rem .25rem;
}

/*****************
4. Game Status & Controls
******************/

#player-slider .player {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

#player-slider .active-player {
    z-index: 1 !important;
}

#player-slider #prev-player,
#player-slider #next-player{
    top: 50%;
    z-index: 2;
}

#player-slider .bullet-dummy{
    display: none;
}

#player-slider #prev-player{
    left: 10%;
}

#player-slider #next-player{
    right: 10%;
}

#players-ready-list .status-icon {
    width: 25px;
}

#players-info-list .player-icon,
#players-info-list .player-data {
   width: 50%;
   flex: 0 0 auto;
}

/*****************
5. Game Events & Chats
******************/

#game-events-window,
#chat-window {
    max-height: 35vh;
    min-height: 18rem;
    overflow-y: auto;
}

#game-events-window p,
#chat-window p {
    margin-bottom: 0;
    max-width: 100%;
    word-break:break-all;
}


/*****************
6. Animations
******************/

.rotate-y {
    animation:rotate-y 8s linear infinite;
}
@keyframes rotate-y { 100% { transform:rotateY(360deg); } }

.rotate-x {
    animation:rotate-x 8s linear infinite;
}
@keyframes rotate-x { 100% { transform:rotateX(360deg); } }