/*****************
INDEX

1. Utils
2. Main
3. Board
4. Game Status & Controls
5. Game Events & Chat
6. Animations

*****************/

/*****************
 1. Utils 
******************/

.text-bold {
    font-weight: 600;
}

.bg-black {
    background-color: #000000;
}

.hide{ 
    display: none;
}

.h-74 {
    height: 74%;
}
.h-13 {
    height: 13%;
}

.w-74 {
    width: 74%;
}
.w-13 {
    width: 13%;
}
.w-8-3 {
    width: 8.3%;
}

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}
.rotate-270 {
    transform: rotate(270deg);
}

/*****************
 2. Main 
******************/


/*****************
 3. Board 
******************/

#board {
    height: 95vh;
    width: 95vh;
    overflow: auto;
}

#inner-center-board{
    z-index: 1;
}
#inner-board{
    height: 840px;
}
#inner-board::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: contain;
    background-image: url('/images/monopoly_map_transparent_center.png')
}

#inner-board .box {
    z-index: 1;
}


/*****************
4. Game Status & Controls
******************/

#player-list .player {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

#player-list .active-player {
    z-index: 1 !important;
}

#player-slider #prev-player,
#player-slider #next-player{
    top: 50%;
    z-index: 2;
}

#player-slider #prev-player{
    left: 10%;
}

#player-slider #next-player{
    right: 10%;
}

/*****************
5. Game Events & Chats
******************/

#game-events-window,
#chat-window {
    max-height: 35vh;
    overflow-y: auto;
}

#game-events-window p,
#chat-window p {
    margin-bottom: 0;
    max-width: 100%;
    word-break:break-all;
}


/*****************
5. Animations
******************/

.rotate-y {
    animation:rotate-y 8s linear infinite;
}
@keyframes rotate-y { 100% { transform:rotateY(360deg); } }

.rotate-x {
    animation:rotate-x 8s linear infinite;
}
@keyframes rotate-x { 100% { transform:rotateX(360deg); } }